.title-persian,
.artist-persian {
  text-align: center;
}

.artist-persian {
  margin-top: -5px;
  font-size: 12px;
}

.title-persian {
  font-size: 30px;
  margin: 0;
}

.lyrics {
  text-align: center;
  font-size: 26px;
  min-height: 80px;
  padding-top: 10px;
  position: relative;
  height: 80px;
  max-height: 80px;
  display: block;
  min-height: 80px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.lyrics-backup {
  text-align: center;
  font-size: 26px;
  height: 40px;
  max-height: 40px;
  display: block;
  min-height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.cover-art {
  background-color: grey;
  display: block;
  margin: auto;
}

body {
  font-size: 14px;
  line-height: 1.7;
  font-family: Vazir, Tahoma, "DejaVu Sans", helvetica, arial, freesans,
    sans-serif;
  padding-top: 100px;
  min-height: 100vh;
}

.waveform {
  position: relative;
  margin-top: -20px;
}

.background-container {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  filter: blur(40px);
}

.secondary-background {
  background-color: rgba(0, 0, 0, 80);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  opacity: 0.72;
}
