.title-persian,
.artist-persian {
  text-align: center;
}

.artist-persian {
  margin-top: -5px;
  font-size: 14px;
}

.title-persian {
  font-size: 30px;
  margin: 0;
}

.lyrics {
  text-align: center;
  font-size: 26px;
  min-height: 80px;
  padding-top: 10px;
  position: relative;
  height: 80px;
  max-height: 80px;
  display: block;
  min-height: 80px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.lyrics-backup {
  text-align: center;
  font-size: 26px;
  height: 40px;
  max-height: 40px;
  display: block;
  min-height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.cover-art {
  background-color: grey;
  display: block;
  margin: auto;
}

body {
  background-color: #252527;
  color: white;
  font-size: 14px;
  line-height: 1.7;
  font-family: Vazir, Tahoma, "DejaVu Sans", helvetica, arial, freesans,
    sans-serif;
}

.wavesurfer {
  position: relative;
}
