.title-persian,
.artist-persian {
  text-align: center;
}

.artist-persian {
  margin-top: -10px;
  font-size: 13px;
}

.lyrics {
  text-align: center;
  font-size: 26px;
  min-height: 60px;
  padding-top: 30px;
}

.cover-art,
.lyrics {
  margin: auto;
}

.cover-art {
  background-color: grey;
}
