body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
  font-family: "B612 Mono", monospace;
}

section {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}

section h2:first-child {
  font-family: "Major Mono Display", monospace;
}

img {
  border-radius: 50%;
  transition: pointer-events 0.4s;
}

.overview-top-section {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid;
}

.key-value-key {
  font-size: 12px;
  opacity: 0.72;
}

.key-value-key small {
  font-size: 9px;
}

.overview-section {
  grid-row: 1;
}

.work-experience-section {
  grid-row: 2;
}

.skills-technologies-section {
  grid-row: 3;
}

.languages-section {
  grid-row: 4;
}

.other-notes-section {
  grid-row: 5;
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: auto 1fr;
  }

  .overview-section {
    grid-column: 1;
    grid-row: 1 / 5;
  }

  .work-experience-section {
    grid-row: 1;
    grid-column: 2;
  }

  .skills-technologies-section {
    grid-row: 2;
    grid-column: 2;
  }

  .languages-section {
    grid-row: 3;
    grid-column: 2;
  }

  .other-notes-section {
    grid-row: 4;
    grid-column: 2;
  }
}

body.dark-theme {
  background-color: black;
  color: white;
}

body.dark-theme a {
  color: white !important;
}

.theme-changer {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  border: none;
  cursor: pointer;
  opacity: 0.72;
}

.theme-changer:hover {
  opacity: 1;
}

.theme-changer.default {
  background-color: white;
  border: 1px solid black;
}

.theme-changer.dark {
  background-color: black;
  border: 1px solid white;
}

.theme-changer.child {
  background-image: linear-gradient(#2a9d8f, #e9c46a);
}

* {
  transition: all 1s !important;
}

.overview-record {
  display: block;
  margin-top: 15px;
}
